@import "../colors.scss";

.default_body {
    margin-left: -0.55em;
    margin-top: -0.55em;
    width: calc(100vw + 0.55em);
    height: calc(100vh + 0.55em);
    @include themify($themes) {
        background: themed('body_color');
    }
}

.body_pad {
    margin-left: 0.55em;
    margin-top: 0.55em;
}