@import "../colors.scss";

.navbar_back {
	background: $primary_color;
    height: 31px;
    padding: 7px;
	margin-left: -0.55em;
    margin-top: -0.55em;
    margin-bottom: 3px;
}

.navbar_front {
    color: $contrast_color;
    font-size: 25px;
}