@import "../../colors.scss";

.navbar_back {
    height: 31px;
    padding: 7px;
    margin-left: -0.55em;
    margin-top: -0.55em;
    margin-bottom: 3px;
    @include themify($themes) {
        background: themed('primary_color');
    }
}

.navbar_front {
    font-size: 25px;
    @include themify($themes) {
        color: themed('contrast_color');
    }
}

.theme_button_div {
	display:block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	float: right;
	margin-right: 5px;
    @include themify($themes) {
        background: themed('change_color');
    }
}

.theme_button {
	width: 30px;
	height: 30px;
	color: transparent;
	background-color: transparent;
	border-color: transparent;
	cursor: default;
	outline: 0;
}