.body_default {
    background: gray;
    color: gray;
}

.navbar_back {
	background: black;
    height: 31px;
    padding: 7px;
	margin-left: -0.55em;
    margin-top: -0.55em;
    margin-bottom: 7px;
}

.navbar_front {
    color: white;
    font-size: 25px;
}

.padded_right {
    margin-right: 5px;
}

.padded_left {
    margin-left: 15px;
}

.padded_top {
    margin-top: 5px;
}

.message {
    margin-left: 5px;
    margin-top: 2px;
}

.message_field {
    width: calc(100vw - 115px);
    margin-right: 2px;
    margin-top: 5px;
    height: 15px;
}

.send_button {
    width: 95px;
    margin-top: 5px;
    height: 23px;
}

.message_box {
    margin-top: 5px;
    height: calc(100vh - 85px);
    width: calc(100vw - 15px);
    border: 1px solid black;
    overflow-x: hidden;
}
